In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("US_Accidents_Dec21_updated.csv")

In [3]:
# Check how many values are missing in each column
df.isnull().sum()

ID                             0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                        0
End_Lng                        0
Distance(mi)                   0
Description                    0
Number                   1743911
Street                         2
Side                           0
City                         137
County                         0
State                          0
Zipcode                     1319
Country                        0
Timezone                    3659
Airport_Code                9549
Weather_Timestamp          50736
Temperature(F)             69274
Wind_Chill(F)             469643
Humidity(%)                73092
Pressure(in)               59200
Visibility(mi)             70546
Wind_Direction             73775
Wind_Speed(mph)           157944
Precipitation(in)         549458
Weather_Condition          70636
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset              2867
Civil_Twilight              2867
Nautical_Twilight           2867
Astronomical_Twilight       2867
dtype: int64

In [4]:
# Drop unnecessary columns
df = df.drop(columns=['Number', 'Sunrise_Sunset', 'Nautical_Twilight', 'Astronomical_Twilight', 'Street', 'City', 
                      'Zipcode', 'Timezone','ID', 'End_Lat', 'End_Lng', 'Country', 'Airport_Code', 
                      'Weather_Timestamp', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 'Wind_Direction', 
                      'Wind_Speed(mph)'])

In [5]:
pd.set_option('display.max_columns', None)
df.head()

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,Side,County,State,Temperature(F),Visibility(mi),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Civil_Twilight
0,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,R,Franklin,OH,42.1,10.0,0.00,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Night
1,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,0.747,At OH-4/OH-235/Exit 41 - Accident.,R,Montgomery,OH,36.9,10.0,0.02,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Night
2,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,0.055,At I-71/US-50/Exit 1 - Accident.,R,Hamilton,OH,36.0,10.0,0.02,Overcast,False,False,False,False,True,False,False,False,False,False,False,False,False,Night
3,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,0.123,At Dart Ave/Exit 21 - Accident.,R,Summit,OH,39.0,10.0,NaN,Overcast,False,False,False,False,False,False,False,False,False,False,False,False,False,Night
4,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,0.500,At Mitchell Ave/Exit 6 - Accident.,R,Hamilton,OH,37.0,10.0,0.01,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Day

In [6]:
precip_missing = df[df['Precipitation(in)'].isnull()]
precip_missing['Weather_Condition'].value_counts()
# Looks like the reason precipitation is missing in some rows is because there was no accumulated precipitation 
# during the time of the accident.

Clear                 172786
Overcast               72357
Mostly Cloudy          72029
Partly Cloudy          51271
Fair                   45103
                       ...
Small Hail                 1
Wintry Mix / Windy         1
Snow / Windy               1
Heavy Ice Pellets          1
Light Haze                 1
Name: Weather_Condition, Length: 80, dtype: int64

In [7]:
# We can replace the null values in the precipitation column with 0
df['Precipitation(in)'] = df['Precipitation(in)'].fillna(0.0)

In [8]:
# Now we can drop the rest of the columns with missing values.
df = df.dropna()
df.isnull().sum()
# Voila! No more missing values, as you can see.

Severity             0
Start_Time           0
End_Time             0
Start_Lat            0
Start_Lng            0
Distance(mi)         0
Description          0
Side                 0
County               0
State                0
Temperature(F)       0
Visibility(mi)       0
Precipitation(in)    0
Weather_Condition    0
Amenity              0
Bump                 0
Crossing             0
Give_Way             0
Junction             0
No_Exit              0
Railway              0
Roundabout           0
Station              0
Stop                 0
Traffic_Calming      0
Traffic_Signal       0
Turning_Loop         0
Civil_Twilight       0
dtype: int64

In [9]:
# There are over 100 types of weather conditions. We only want the most common. 

condition_value_counts = df['Weather_Condition'].value_counts()
condition_value_counts

Fair                                   1097777
Mostly Cloudy                           362226
Cloudy                                  346177
Partly Cloudy                           248337
Clear                                   172509
                                        ...
Heavy Rain Showers                           1
Light Haze                                   1
Heavy Thunderstorms with Small Hail          1
Sand / Dust Whirlwinds / Windy               1
Thunder and Hail / Windy                     1
Name: Weather_Condition, Length: 125, dtype: int64

In [10]:
# Drop all columns with weather conditions under 600 occurrences
condition_value_counts = condition_value_counts[condition_value_counts > 600]
df = df[df['Weather_Condition'].isin(condition_value_counts.index)]

In [11]:
# Some of the weather conditions mean the same thing ("Rain Shower" and "Rain Showers", for example.)

# Fair <- Clear, Fair / Windy, N/A Precipitation
# Cloudy <- Overcast, Cloudy / Windy, Mostly Cloudy, Mostly Cloudy / Windy
# Partly Cloudy <- Scattered Clouds, Partly Cloudy / Windy
# Rain <- Heavy Rain, Rain / Windy, Heavy Rain / Windy
# Light Rain <- Mist, Light Drizzle, Light Rain / Windy, Drizzle, Showers in the Vicinity
# Snow <- Heavy Snow
# Light Snow <- Light Snow / Windy
# Wintry Mix <- Light Freezing Rain
# Thunderstorm <- T-Storm, Heavy T-Storm
# Light Thunderstorm <- Thunder in the Vicinity, Thunder, Light Rain with Thunder, Light Thunderstorms and Rain
# Fog <- Haze, Patches of Fog, Shallow Fog, Haze / Windy, Fog / Windy
# Smoke

weather_lookup = {
    'Fair': 'Fair',
    'Clear': 'Fair',
    'Fair / Windy': 'Fair',
    'N/A Precipitation': 'Fair',
    'Cloudy': 'Cloudy',
    'Overcast': 'Cloudy',
    'Cloudy / Windy': 'Cloudy',
    'Mostly Cloudy': 'Cloudy',
    'Mostly Cloudy / Windy': 'Cloudy',
    'Partly Cloudy': 'Fair',
    'Scattered Clouds': 'Fair',
    'Partly Cloudy / Windy': 'Fair',
    'Rain': 'Rain',
    'Heavy Rain': 'Rain',
    'Rain / Windy': 'Rain',
    'Heavy Rain / Windy': 'Rain',
    'Light Rain': 'Light Rain',
    'Mist': 'Light Rain',
    'Light Drizzle': 'Light Rain',
    'Light Rain / Windy': 'Light Rain',
    'Drizzle': 'Light Rain',
    'Showers in the Vicinity': 'Light Rain',
    'Snow': 'Snow',
    'Heavy Snow': 'Snow',
    'Light Snow': 'Light Snow',
    'Light Snow / Windy': 'Light Snow',
    'Wintry Mix': 'Wintry Mix',
    'Light Freezing Rain': 'Wintry Mix',
    'Thunderstorm': 'Thunderstorm',
    'T-Storm': 'Thunderstorm',
    'Heavy T-Storm': 'Thunderstorm',
    'Light Thunderstorm': 'Light Thunderstorm',
    'Thunder in the Vicinity': 'Light Thunderstorm',
    'Thunder': 'Light Thunderstorm',
    'Light Rain with Thunder': 'Light Thunderstorm',
    'Light Thunderstorms and Rain': 'Light Thunderstorm',
    'Fog': 'Fog',
    'Haze': 'Fog',
    'Patches of Fog': 'Fog',
    'Shallow Fog': 'Fog',
    'Haze / Windy': 'Fog',
    'Fog / Windy': 'Fog',
    'Smoke': 'Smoke'
}

def weather_map(weather_condition):
    return weather_lookup[weather_condition]


df['Weather_Condition'] = df.Weather_Condition.map(weather_map)
df['Weather_Condition'].value_counts()

Fair                  1583324
Cloudy                 805583
Light Rain             141513
Fog                     79013
Light Snow              45603
Rain                    44334
Light Thunderstorm      19181
Thunderstorm            11067
Smoke                    7171
Snow                     6656
Wintry Mix               4732
Name: Weather_Condition, dtype: int64

In [12]:
df['Time_Formatted'] = df.Start_Time.map(pd.to_datetime)

In [13]:
df.head()

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,Side,County,State,Temperature(F),Visibility(mi),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Civil_Twilight,Time_Formatted
0,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,R,Franklin,OH,42.1,10.0,0.00,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,2016-02-08 00:37:08
1,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,0.747,At OH-4/OH-235/Exit 41 - Accident.,R,Montgomery,OH,36.9,10.0,0.02,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,2016-02-08 05:56:20
2,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,0.055,At I-71/US-50/Exit 1 - Accident.,R,Hamilton,OH,36.0,10.0,0.02,Cloudy,False,False,False,False,True,False,False,False,False,False,False,False,False,Night,2016-02-08 06:15:39
3,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,0.123,At Dart Ave/Exit 21 - Accident.,R,Summit,OH,39.0,10.0,0.00,Cloudy,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,2016-02-08 06:51:45
4,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,0.500,At Mitchell Ave/Exit 6 - Accident.,R,Hamilton,OH,37.0,10.0,0.01,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,2016-02-08 07:53:43

In [14]:
# Number of crashes per capita per state (bar graph)
# Accident severity to miles of road closed (violin plot)
# Accident severity in day vs night (pie plot)??
# Proportion of accidents that are severe by county in pennsylvana
# Proportion of accidents that are severe for each weather condition (horizontal pie plot)
# Number of accidents for each day of the week (line graph)
# Number of accidents per month for the entire 5 year period (line graph)

In [35]:
# Load in state populations to make first graph
populations = pd.read_csv('State Populations.csv')
populations
# This data has 51 states, including DC, while the car accidents dataset leaves out Hawaii and Alaska.
# Furthermore, we should probably convert the state name abbreviations in the big dataset to their actual names to match it up with this dataset.

                   State  2018 Population
0             California         39776830
1                  Texas         28704330
2                Florida         21312211
3               New York         19862512
4           Pennsylvania         12823989
5               Illinois         12768320
6                   Ohio         11694664
7                Georgia         10545138
8         North Carolina         10390149
9               Michigan          9991177
10            New Jersey          9032872
11              Virginia          8525660
12            Washington          7530552
13               Arizona          7123898
14         Massachusetts          6895917
15             Tennessee          6782564
16               Indiana          6699629
17              Missouri          6135888
18              Maryland          6079602
19             Wisconsin          5818049
20              Colorado          5684203
21             Minnesota          5628162
22        South Carolina          5088916
23               Alabama          4888949
24             Louisiana          4682509
25              Kentucky          4472265
26                Oregon          4199563
27              Oklahoma          3940521
28           Connecticut          3588683
29                  Iowa          3160553
30                  Utah          3159345
31                Nevada          3056824
32              Arkansas          3020327
33           Mississippi          2982785
34                Kansas          2918515
35            New Mexico          2090708
36              Nebraska          1932549
37         West Virginia          1803077
38                 Idaho          1753860
39                Hawaii          1426393
40         New Hampshire          1350575
41                 Maine          1341582
42               Montana          1062330
43          Rhode Island          1061712
44              Delaware           971180
45          South Dakota           877790
46          North Dakota           755238
47                Alaska           738068
48  District of Columbia           703608
49               Vermont           623960
50               Wyoming           573720

In [43]:
state_lookup = {
    'CA':'California',
    'FL':'Florida',
    'TX':'Texas',
    'OR':'Oregon',
    'NY':'New York',
    'VA':'Virginia',
    'PA':'Pennsylvania',
    'MN':'Minnesota',
    'NC':'North Carolina',
    'SC':'South Carolina',
    'AZ':'Arizona',
    'MD':'Maryland',
    'TN':'Tennessee',
    'NJ':'New Jersey',
    'IL':'Illinois',
    'LA':'Louisiana',
    'UT':'Utah',
    'MI':'Michigan',
    'GA':'Georgia',
    'WA':'Washington',
    'CT':'Connecticut',
    'MO':'Missouri',
    'CO':'Colorado',
    'OH':'Ohio',
    'IN':'Indiana',
    'AL':'Alabama',
    'MT':'Montana',
    'AR':'Arkansas',
    'IA':'Iowa',
    'DC':'District of Columbia',
    'OK':'Oklahoma',
    'ID':'Idaho',
    'WI':'Wisconsin',
    'KS':'Kansas',
    'WV':'West Virginia',
    'KY':'Kentucky',
    'MA':'Massachusetts',
    'NV':'Nevada',
    'MS':'Mississippi',
    'DE':'Delaware',
    'RI':'Rhode Island',
    'NH':'New Hampshire',
    'NE':'Nebraska',
    'NM':'New Mexico',
    'ME':'Maine',
    'ND':'North Dakota',
    'WY':'Wyoming',
    'VT':'Vermont',
    'SD':'South Dakota'
}

def state_abbrev_to_name(abbreviation):
    return state_lookup[abbreviation]


df['State_Name'] = df.State.map(state_abbrev_to_name)

In [57]:
accidents_per_state = df['State_Name'].value_counts()
accidents_per_state = accidents_per_state.sort_index()
populations = populations.set_index('State')
populations = populations.sort_index()

                      2018 Population
State
Alabama                       4888949
Alaska                         738068
Arizona                       7123898
Arkansas                      3020327
California                   39776830
Colorado                      5684203
Connecticut                   3588683
Delaware                       971180
District of Columbia           703608
Florida                      21312211
Georgia                      10545138
Hawaii                        1426393
Idaho                         1753860
Illinois                     12768320
Indiana                       6699629
Iowa                          3160553
Kansas                        2918515
Kentucky                      4472265
Louisiana                     4682509
Maine                         1341582
Maryland                      6079602
Massachusetts                 6895917
Michigan                      9991177
Minnesota                     5628162
Mississippi                   2982785
Missouri                      6135888
Montana                       1062330
Nebraska                      1932549
Nevada                        3056824
New Hampshire                 1350575
New Jersey                    9032872
New Mexico                    2090708
New York                     19862512
North Carolina               10390149
North Dakota                   755238
Ohio                         11694664
Oklahoma                      3940521
Oregon                        4199563
Pennsylvania                 12823989
Rhode Island                  1061712
South Carolina                5088916
South Dakota                   877790
Tennessee                     6782564
Texas                        28704330
Utah                          3159345
Vermont                        623960
Virginia                      8525660
Washington                    7530552
West Virginia                 1803077
Wisconsin                     5818049
Wyoming                        573720